<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127012041161-rru5lu4k2lua5jc4savcrtjpef6k5nvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127012041161-rru5lu4k2lua5jc4savcrtjpef6k5nvp</string>
	<key>API_KEY</key>
	<string>AIzaSyCzMWgJ08AIjCail3r8iub3rrIIXtg_UW0</string>
	<key>GCM_SENDER_ID</key>
	<string>127012041161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpaperApp</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-app-tutorial-8e383</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-app-tutorial-8e383.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127012041161:ios:80cb444a805e2785cdf818</string>
</dict>
</plist>